.cuerpoPagina {
    padding: 2%;
    background-color: #FFECB3;
    height: 100%
}

.noSeEncontraronResultados {
    font: 170% sans-serif;
    text-align: center;
    width: 100%;
}

.ahorrobotDefectuoso {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}