<div class="cuerpoPagina">
    <div>
        <img  class="logoBotco" src="../../../assets/botco.png" alt=""><br><br>
    </div>
    <div id="quienesSomos">
        <h2>¿QUIENES SOMOS?</h2>
        <h3>Somos BotCO, un equipo de desarrollo de soluciones automatizadas y bots diseñados para facilitar y mejorar la vida de las personas.</h3>
        <h3>Nuestro objetivo es poder usar la tecnología como herramienta para mejorar la sociedad y así conseguir un mundo mejor y más justo.</h3>
        <h3>Estamos comprometidos en brindar soluciones innovadoras y eficientes que generen un impacto positivo en la vida de las personas y en la comunidad.</h3><br><br>
        <div id="fotos">
            <div id="imagenDerecha">
                <img class="fotoPersona" src="../../../assets/dexter.jpg">
                <p>Dexter Freyggang Zuluaga</p>
            </div>
            <div id="relleno"></div>
            <div>
                <img class="fotoPersona" src="../../../assets/joaquin.jpg">
                <p>Joaquin Lepez Pizarro</p>
            </div>
        </div>
    </div>
</div>